GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
 FILEVERSION 0,8,0,0
 PRODUCTVERSION 0,8,0,0
 FILEFLAGSMASK 0x8fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "FileDescription", "RunOnCoal Demo"
            VALUE "FileVersion", "0.8a"
            VALUE "ProductName", "ROC"
            VALUE "ProductVersion", "0.8a"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
